/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");
/* line 5, ../../../../../../../../Users/Amjad/.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Users/Amjad/.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Users/Amjad/.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Users/Amjad/.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Users/Amjad/.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Users/Amjad/.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Users/Amjad/.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Users/Amjad/.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Users/Amjad/.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 38, ../sass/base.scss */
body {
  font-family: "Roboto", sans-serif;
}

/* line 43, ../sass/base.scss */
.aniLink {
  display: inline-block;
  color: rgba(0, 0, 0, 0.9);
  padding-bottom: 2px;
  position: relative;
}
/* line 48, ../sass/base.scss */
.aniLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: rgba(243, 156, 18, 0.7);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
/* line 62, ../sass/base.scss */
.aniLink:hover {
  color: #f39c12;
}
/* line 64, ../sass/base.scss */
.aniLink:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 72, ../sass/base.scss */
a {
  transition: 0.3s;
}

/* line 18, ../sass/screen.scss */
.main-navbar {
  top: -50px;
  padding-top: 48px;
  border: 1px solid rgba(162, 162, 162, 0.2);
  transition: 0.3s;
}
@media only screen and (max-width: 720px) {
  /* line 18, ../sass/screen.scss */
  .main-navbar {
    top: 0px;
  }
}
/* line 26, ../sass/screen.scss */
.main-navbar.scrollUp {
  transform: translateY(-80px);
}
/* line 29, ../sass/screen.scss */
.main-navbar li {
  display: inline-block;
}
/* line 31, ../sass/screen.scss */
.main-navbar li a {
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px;
  padding-top: 20px;
  width: 100%;
  border-left: 1px solid rgba(162, 162, 162, 0.2);
}
@media only screen and (max-width: 720px) {
  /* line 31, ../sass/screen.scss */
  .main-navbar li a {
    font-size: 32px;
  }
}
/* line 42, ../sass/screen.scss */
.main-navbar li a.blackonwhite {
  color: white;
  background-color: black;
}
/* line 45, ../sass/screen.scss */
.main-navbar li a.blackonwhite:hover {
  color: black;
  background-color: white;
}
@media only screen and (max-width: 720px) {
  /* line 45, ../sass/screen.scss */
  .main-navbar li a.blackonwhite:hover {
    color: white;
    background-color: black;
  }
}
/* line 55, ../sass/screen.scss */
.main-navbar li a.whiteonblack {
  color: black;
  background-color: white;
}
@media only screen and (max-width: 720px) {
  /* line 55, ../sass/screen.scss */
  .main-navbar li a.whiteonblack {
    color: white;
    background-color: black;
  }
}
/* line 62, ../sass/screen.scss */
.main-navbar li a.whiteonblack:hover {
  color: white;
  background-color: black;
}
/* line 69, ../sass/screen.scss */
.main-navbar li:first-child {
  border-left: none;
}
/* line 72, ../sass/screen.scss */
.main-navbar li:last-child {
  border-left: none;
}

/* line 80, ../sass/screen.scss */
.cover-info-box .nameanddesg {
  position: relative;
  z-index: 10;
}
/* line 83, ../sass/screen.scss */
.cover-info-box .nameanddesg .heythere {
  font-size: 96px;
  color: rgba(0, 0, 0, 0.07);
  top: -40px;
  z-index: -1;
}
@media only screen and (max-width: 720px) {
  /* line 83, ../sass/screen.scss */
  .cover-info-box .nameanddesg .heythere {
    top: -80px;
  }
}

/* line 96, ../sass/screen.scss */
.front-cover-social ul {
  position: relative;
}
/* line 98, ../sass/screen.scss */
.front-cover-social ul:after {
  content: "";
  position: absolute;
  left: 100%;
  height: 60%;
  top: 32%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 720px) {
  /* line 98, ../sass/screen.scss */
  .front-cover-social ul:after {
    top: 120%;
    width: 100%;
    height: 1px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
/* line 114, ../sass/screen.scss */
.front-cover-social ul li {
  display: inline-block;
}
/* line 116, ../sass/screen.scss */
.front-cover-social ul li a {
  display: inline-block;
  font-size: 18px;
  padding: 15px;
  padding-left: 5px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 720px) {
  /* line 116, ../sass/screen.scss */
  .front-cover-social ul li a {
    font-size: 16px;
  }
}
/* line 128, ../sass/screen.scss */
.front-cover-social ul li:first-child a {
  padding-left: 0px;
}

/* line 139, ../sass/screen.scss */
.scroll-down .inner {
  position: relative;
  padding-bottom: -0px;
  overflow: hidden;
}
/* line 144, ../sass/screen.scss */
.scroll-down .inner:after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 11111;
  border-radius: 50%;
}
/* line 155, ../sass/screen.scss */
.scroll-down .inner .dot {
  padding: 2px;
  padding-top: 10px;
  left: 7px;
  top: 10px;
  -webkit-animation: sdb10 2s infinite;
}
/* line 162, ../sass/screen.scss */
.scroll-down .inner .white {
  margin-right: -3px;
}

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* line 188, ../sass/screen.scss */
.skills .skill {
  border: 1px solid lightgray;
  transition: 0.3s;
}

/* line 195, ../sass/screen.scss */
.circle {
  position: relative;
  vertical-align: top;
}
/* line 198, ../sass/screen.scss */
.circle canvas {
  max-width: 100%;
  max-height: 100%;
}
/* line 203, ../sass/screen.scss */
.circle strong {
  position: absolute;
  width: 100%;
}

/* line 210, ../sass/screen.scss */
.experience-timeline-left:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 5px;
  height: 100%;
  background: black;
}
@media only screen and (max-width: 720px) {
  /* line 210, ../sass/screen.scss */
  .experience-timeline-left:before {
    right: inherit;
    left: 75px;
  }
}
/* line 223, ../sass/screen.scss */
.experience-timeline-left:after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0px;
  width: 5px;
  height: 100%;
  background: white;
}
@media only screen and (max-width: 720px) {
  /* line 223, ../sass/screen.scss */
  .experience-timeline-left:after {
    right: inherit;
    left: 80px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/* line 237, ../sass/screen.scss */
.experience-timeline-left .timeline-current-date {
  right: -80px;
  top: -25px;
  z-index: 111;
}
@media only screen and (max-width: 720px) {
  /* line 237, ../sass/screen.scss */
  .experience-timeline-left .timeline-current-date {
    right: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/* line 246, ../sass/screen.scss */
.experience-timeline-left .timeline-start-date {
  right: -80px;
  bottom: -25px;
  z-index: 111;
}
@media only screen and (max-width: 720px) {
  /* line 246, ../sass/screen.scss */
  .experience-timeline-left .timeline-start-date {
    right: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  /* line 256, ../sass/screen.scss */
  .experience-timeline-left .timeline-start-date {
    right: -100px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  /* line 261, ../sass/screen.scss */
  .experience-timeline-left .timeline-current-date {
    right: -100px;
  }
}
@media only screen and (max-width: 960px) {
  /* line 266, ../sass/screen.scss */
  .experience-timeline-left.education .timeline-current-date {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
@media only screen and (max-width: 960px) {
  /* line 271, ../sass/screen.scss */
  .experience-timeline-left.education .timeline-start-date {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
/* line 276, ../sass/screen.scss */
.experience-timeline-left.education:before {
  background: white;
}
/* line 279, ../sass/screen.scss */
.experience-timeline-left.education:after {
  background: black;
}

@media only screen and (max-width: 720px) {
  /* line 286, ../sass/screen.scss */
  .timeline-row {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/* line 291, ../sass/screen.scss */
.timeline-row .timeline-time h3 {
  margin-top: -5px;
}
@media only screen and (max-width: 720px) {
  /* line 291, ../sass/screen.scss */
  .timeline-row .timeline-time h3 {
    position: absolute;
    top: -15px;
    left: 105px;
    margin-top: 0px;
  }
}
/* line 302, ../sass/screen.scss */
.timeline-row .timeline-left:after {
  content: "";
  position: absolute;
  right: -35px;
  top: 8px;
  width: 20px;
  height: 20px;
  background: black;
  border: 5px solid white;
  border-radius: 50%;
  z-index: 111;
}
@media only screen and (max-width: 720px) {
  /* line 302, ../sass/screen.scss */
  .timeline-row .timeline-left:after {
    right: inherit;
    left: 70px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/* line 320, ../sass/screen.scss */
.timeline-row .timeline-left:before {
  content: "";
  position: absolute;
  right: -125px;
  top: 18px;
  width: 90px;
  height: 1px;
  background: lightgray;
  z-index: 111;
}
@media only screen and (max-width: 720px) {
  /* line 320, ../sass/screen.scss */
  .timeline-row .timeline-left:before {
    right: inherit;
    left: 70px;
    height: 20px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    border-left: none;
  }
}
/* line 339, ../sass/screen.scss */
.timeline-row .timeline-left .right {
  top: -5px;
  left: 125%;
  border-radius: 10px;
}
@media only screen and (max-width: 720px) {
  /* line 339, ../sass/screen.scss */
  .timeline-row .timeline-left .right {
    left: 100px;
    top: 50px;
    color: black;
  }
}
@media only screen and (max-width: 720px) {
  /* line 352, ../sass/screen.scss */
  .timeline-row.education .right {
    color: white;
  }
}
@media only screen and (max-width: 720px) {
  /* line 358, ../sass/screen.scss */
  .timeline-row.education .timeline-left:before {
    border-color: rgba(255, 255, 255, 0.3);
  }
}
@media only screen and (max-width: 720px) {
  /* line 363, ../sass/screen.scss */
  .timeline-row.education .timeline-left:after {
    left: 67px;
  }
}
/* line 369, ../sass/screen.scss */
.timeline-row.education:after {
  background: white;
  border: 5px solid black;
}
/* line 373, ../sass/screen.scss */
.timeline-row.education:before {
  background: lightgray;
}

/* line 380, ../sass/screen.scss */
.experiece-timeline {
  background: transparent !important;
}

/* line 387, ../sass/screen.scss */
.certificates .certificate {
  background: url(../../../images/certificate-bg.jpg) no-repeat center;
  background-size: cover;
  transition: 0.3s;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
@media only screen and (max-width: 720px) {
  /* line 387, ../sass/screen.scss */
  .certificates .certificate {
    height: 300px;
  }
}
/* line 395, ../sass/screen.scss */
.certificates .certificate:hover {
  box-shadow: 15px 15px 15px rgba(100, 100, 100, 0.2), -15px -15px 15px rgba(100, 100, 100, 0.2);
}
/* line 397, ../sass/screen.scss */
.certificates .certificate:hover .number {
  color: rgba(255, 255, 255, 0.06) !important;
  top: 0px;
  right: 0px;
}
/* line 404, ../sass/screen.scss */
.certificates .certificate .date {
  color: rgba(255, 255, 255, 0.5);
}
/* line 407, ../sass/screen.scss */
.certificates .certificate .number {
  transition: 0.3s;
  font-size: 172px;
  color: rgba(255, 255, 255, 0.03) !important;
  top: -35px;
  right: -35px;
}

/* line 420, ../sass/screen.scss */
.project-box.black .info {
  background: black;
  color: rgba(255, 255, 255, 0.9);
}
/* line 423, ../sass/screen.scss */
.project-box.black .info hr {
  background: rgba(255, 255, 255, 0.2);
}
/* line 429, ../sass/screen.scss */
.project-box.white .info {
  background: white;
  color: rgba(0, 0, 0, 0.9);
}
/* line 432, ../sass/screen.scss */
.project-box.white .info hr {
  background: rgba(0, 0, 0, 0.2);
}
/* line 437, ../sass/screen.scss */
.project-box .info {
  opacity: 0;
  cursor: pointer;
  transition: 0.5s;
}
/* line 441, ../sass/screen.scss */
.project-box .info hr, .project-box .info ul, .project-box .info h2 {
  opacity: 0;
  transition: 0.3s;
}
/* line 445, ../sass/screen.scss */
.project-box .info h2 {
  transition: 0.6s;
  padding-bottom: 15px;
}
/* line 449, ../sass/screen.scss */
.project-box .info ul {
  transition: 0.6s;
  padding-top: 15px;
}
/* line 454, ../sass/screen.scss */
.project-box .info:hover {
  opacity: 1;
}
/* line 456, ../sass/screen.scss */
.project-box .info:hover h2 {
  opacity: 1;
  transition-delay: 0.2s;
  padding-bottom: 0px;
}
/* line 461, ../sass/screen.scss */
.project-box .info:hover hr {
  opacity: 1;
  transition-delay: 0.4s;
}
/* line 465, ../sass/screen.scss */
.project-box .info:hover ul {
  opacity: 1;
  padding-top: 0px;
  transition-delay: 0.2s;
}
/* line 472, ../sass/screen.scss */
.project-box img.thumbnail {
  filter: grayscale(100%);
}

/* line 478, ../sass/screen.scss */
.project-overlay {
  transition: 0.3s;
  top: 20%;
  border-radius: 10px 10px 0px 0px;
}
/* line 483, ../sass/screen.scss */
.project-overlay.close {
  top: 100%;
}
/* line 486, ../sass/screen.scss */
.project-overlay.fullscreen {
  top: 0%;
  border-radius: 0px;
}
/* line 489, ../sass/screen.scss */
.project-overlay.fullscreen .projectinfo, .project-overlay.fullscreen .projectimages {
  border-radius: 0px;
}
/* line 493, ../sass/screen.scss */
.project-overlay .projectinfo {
  border-radius: 0px 10px 0px 0px;
  transition: 0.3s;
}
/* line 497, ../sass/screen.scss */
.project-overlay .projectimages {
  border-radius: 10px 0px 0px 0px;
  transition: 0.1s;
}
@media only screen and (min-width: 720px) {
  /* line 497, ../sass/screen.scss */
  .project-overlay .projectimages {
    overflow-x: hidden;
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  /* line 502, ../sass/screen.scss */
  .project-overlay .projectimages::-webkit-scrollbar {
    width: 0px;
  }
  /* line 507, ../sass/screen.scss */
  .project-overlay .projectimages::-webkit-scrollbar-track {
    background: transparent;
  }
  /* line 512, ../sass/screen.scss */
  .project-overlay .projectimages::-webkit-scrollbar-thumb {
    background: white;
  }
  /* line 517, ../sass/screen.scss */
  .project-overlay .projectimages::-webkit-scrollbar-thumb:hover {
    background: white;
  }
}
/* line 521, ../sass/screen.scss */
.project-overlay .projectimages img {
  display: block;
  width: 100%;
  margin: 0px;
}
/* line 527, ../sass/screen.scss */
.project-overlay .icon {
  transition: 0.2s;
}
/* line 532, ../sass/screen.scss */
.project-overlay .project-content .visitsite {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 536, ../sass/screen.scss */
.project-overlay .project-content h1, .project-overlay .project-content h2, .project-overlay .project-content h3, .project-overlay .project-content h4, .project-overlay .project-content h5, .project-overlay .project-content h6 {
  font-weight: 400;
}
/* line 539, ../sass/screen.scss */
.project-overlay .project-content h1 {
  font-size: 2rem;
}
/* line 542, ../sass/screen.scss */
.project-overlay .project-content h2 {
  font-size: 1.6rem;
}
/* line 545, ../sass/screen.scss */
.project-overlay .project-content h3 {
  font-size: 1.4rem;
}
/* line 548, ../sass/screen.scss */
.project-overlay .project-content p {
  margin: 10px auto;
}
/* line 552, ../sass/screen.scss */
.project-overlay .project-content blockquote {
  padding: 16px;
  margin: 15px auto;
  font-size: 18px;
  width: 80%;
  font-weight: 400;
  display: block;
  margin: auto;
  font-style: italic;
}

/* line 567, ../sass/screen.scss */
.project-filter-buttons .project-filter-button {
  border: 1px solid rgba(255, 255, 255, 0.03);
  background-color: rgba(255, 255, 255, 0.1);
  width: 32.5%;
  transition: 0.2s;
}
/* line 572, ../sass/screen.scss */
.project-filter-buttons .project-filter-button:hover, .project-filter-buttons .project-filter-button.is-checked {
  background-color: white;
  color: black;
}
/* line 576, ../sass/screen.scss */
.project-filter-buttons .project-filter-button.all {
  border: 1px solid rgba(255, 255, 255, 0.03);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
/* line 580, ../sass/screen.scss */
.project-filter-buttons .project-filter-button.all:hover {
  background-color: white;
  color: black;
}

/* line 590, ../sass/screen.scss */
.contact-form .form-element input, .contact-form .form-element textarea {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
/* line 593, ../sass/screen.scss */
.contact-form .form-element input:focus, .contact-form .form-element textarea:focus {
  border-bottom-color: rgba(0, 0, 0, 0.6);
}
/* line 597, ../sass/screen.scss */
.contact-form .form-element button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  font-weight: 300;
  letter-spacing: 1px;
}
/* line 603, ../sass/screen.scss */
.contact-form .form-element ::placeholder {
  color: gray;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
}

/* line 614, ../sass/screen.scss */
.contact-social-links li a {
  border: 1px solid rgba(255, 255, 255, 0.03);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s;
}

/* line 623, ../sass/screen.scss */
.hori-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 0.1em;
  margin: 10px 0 20px;
}
/* line 629, ../sass/screen.scss */
.hori-line span {
  background: #fff;
  padding: 0 10px;
}

/* line 636, ../sass/screen.scss */
.emailto span {
  border-bottom: 1px dashed transparent;
}
/* line 638, ../sass/screen.scss */
.emailto span:hover {
  border-bottom: 1px dashed lightgray;
}

/* line 645, ../sass/screen.scss */
.copyright p {
  color: rgba(255, 255, 255, 0.4);
}
/* line 649, ../sass/screen.scss */
.copyright.white p {
  color: rgba(0, 0, 0, 0.7);
}

/* line 655, ../sass/screen.scss */
.no-scrollbar {
  overflow: hidden;
}

/* line 660, ../sass/screen.scss */
.hide-scrollbar {
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
/* line 662, ../sass/screen.scss */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
}
/* line 667, ../sass/screen.scss */
.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
/* line 672, ../sass/screen.scss */
.hide-scrollbar::-webkit-scrollbar-thumb {
  background: white;
}
/* line 677, ../sass/screen.scss */
.hide-scrollbar::-webkit-scrollbar-thumb:hover {
  background: white;
}

@media only screen and (max-width: 720px) {
  /* line 683, ../sass/screen.scss */
  .overlay-actions-close-projectinfo {
    display: none;
  }
}

/* line 689, ../sass/screen.scss */
z-999 {
  z-index: 999;
}

/* line 693, ../sass/screen.scss */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border-top: 16px solid black;
  border-bottom: 16px solid black;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 708, ../sass/screen.scss */
.download-resume {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
/* line 711, ../sass/screen.scss */
.download-resume:hover {
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  color: black;
}
